.ipynb_checkpoints/
# Ignore Jupyter Notebook checkpoints
*.pyc
# Ignore Python bytecode files
__pycache__/
# Ignore Python cache directories
*.pyo

# Ignore environment variable files
.env
*.env

node_modules/

# Ignore virtual environment directories
venv/